{% extends "base.html" %}

{% block title %}Booking List{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="booking-container">
        <h2>Booking List</h2>
        <div class="booking-table"></div>
            <table>
                <tr>
                    <th>Flight Number</th>
                    <th>Airline</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Arrival Time</th>
                    <th>Departure Time</th>
                    <th>Cancel</th>
                </tr>
                {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.fnumber }}</td>
                        <td>{{ booking.airline }}</td>
                        <td>{{ booking.origin }}</td>
                        <td>{{ booking.destination }}</td>
                        <td>{{ booking.atime }}</td>
                        <td>{{ booking.dtime }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('bookings.cancel', bid=booking.bid) }}">
                                <input type="hidden" name="booking_id" value="{{ booking.id }}">
                                <button type="submit">Cancel</button>
                            </form>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}