{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header %}Flight Manager{% endblock %}

{% block content %}
    <p>Flight Search</p>
    <form action="/results" method="get">
        <label for="departure">From:</label>
        <input type="text" id="departure" name="departure" required>

        <label for="destination">To:</label>
        <input type="text" id="destination" name="destination" required>

        <label for="date">Date</label>
        <input id="date" name="date" type="date" required>
        
        <button type="submit">Search</button>
    </form>
{% endblock %}