{% extends "base.html" %}

{% block title %}Search History{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="search-history">
        <h2>Search History</h2>
        {% if searches|length == 0 %}
            <p>No Search History</p>
        {% else %}
            <ol reversed>
                {% for search in searches %}
                    <li>
                        <strong>{{ search.origin }}</strong> to 
                        <strong>{{ search.destination }}</strong> on 
                        <strong>{{ search.date }}</strong>
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
    </div>
{% endblock %}