{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="login-container">
        <h2>Login</h2>
        <form method="post">
            <label for="username">username:</label>
            <input id="username" name="username" required minlength="4" maxlength="20"><br>
    
            <label for="password">password:</label>
            <input type="password" id="password" name="password" required minlength="8" maxlength="20"><br>
    
            <input type="submit" value="Login">
        </form>
        <a href="{{ url_for('auth.register') }}">Register here:</a>
    </div>
{% endblock %}